<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-slides pager autoplay="3000">
      <ion-slide *ngFor="let num of [1,2,3]">
        <img src="assets/img/img_mobileapp/{{num}}.jpg"/>
        <!--<h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>-->
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-list>
    <ion-list-header color="danger">
      Latest Murli
    </ion-list-header>
    <ion-item on-click="goToMurli([date])">
      <ion-avatar item-start>
        <img src="assets/img/img_mobileapp/icon.png">
      </ion-avatar>
      <h2 ion-text>{{date}}</h2>
      <p>{{title}}</p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header color="danger">
      Select Murli Date
    </ion-list-header>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/img_mobileapp/icon.png">
      </ion-avatar>
      <ion-select [(ngModel)]="dd" placeholder="Date" interface="action-sheet">
        <ion-option *ngFor="let date of sDate">
          {{date}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button full color="danger" ion-button on-click="loadMurliselectDate()">Read Murli</button>  
    </ion-item>            
  </ion-list>
</ion-content>